<div class="cart_page">
  <table>
    <% sum = 0 %>
  <% @carted_products.each do |product| %>
<tr>
  <td><%= product.name %></td>
  <td><%= number_to_currency(product.price) %></td>
</tr>
<% end %>
<table>
  
</div>
